<section>
    <form action="" id="editCustomer" class="editCustomer">
        <label for="">New Customer</label>
        <input type="text" name="" id="newcustomerName" required>

        <label for="">New addrees</label>
        <input type="text" name="" id="newaddress" required>

        <label for="">New telephone</label>
        <input type="text" name="" id="newtelephone" required>

        <label for="">New Email</label>
        <input type="text" name="" id="newemail" required>

        <input type="submit" value="Actualizar">
    </form>
</section>
